<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("./partials/mainViews/head.ejs") %>
    <link rel="stylesheet" href="/css/home.css" />
    <title>Inicio</title>
  </head>
  <body>
    <!-- BARRA DE NAVEGACIÓN -->
    <%- include("./partials/mainViews/navbar.ejs", {page_name:"Inicio"}) %>
    <%-include("./partials/home/home.ejs") %>
    <!-- ZONA DE SCRIPTS -->
    <%- include("./partials/mainViews/scripts.ejs") %>
    <!-- ZONA DE PIE DE PÁGINA -->
    <%- include("./partials/mainViews/footer.ejs") %>
  </body>
</html>
