<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("./partials/mainViews/head.ejs") %>
    <link rel="stylesheet" href="/css/products.css" />
    <title>Videojuegos</title>
  </head>
  <body>
    <!-- BARRA DE NAVEGACIÓN -->
    <%- include("./partials/mainViews/navbar.ejs", {page_name:"Videojuegos"}) %>
    <%-include("./partials/products/products.ejs") %>
    <!-- ZONA DE SCRIPTS -->
    <%- include("./partials/mainViews/scripts.ejs") %>
    <!-- ZONA DE PIE DE PÁGINA -->
    <%- include("./partials/mainViews/footer.ejs") %>
    <script src="/js/httpRequests.js"></script>
  </body>
</html>
