<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("./partials/mainViews/head.ejs") %>
    <link rel="stylesheet" href="/css/products.css" />
    <title>Videojuegos</title>
  </head>
  <body>
    <!-- BARRA DE NAVEGACIÓN -->
    <%- include("./partials/mainViews/navbar.ejs", {page_name:"Transacciones"}) %>
    <div id="videojuegos" class="align-items-center">
      <div class="col-xl-12" style="text-align: center; margin-top: 10px;">
          <h1>Transacciones realizadas</h1>
      </div>
      <div class="container card" style="margin-bottom:20px;">
        <div class="row">
          <table class="table table-border" style="table-layout: fixed; word-wrap: break-word;">
              <tr>
                  <th scope="col" style="display:none;"></th>
                  <th scope="col"> Fecha de transacción</th>
                  <th scope="col"> Operación realizada</th>
                  <th scope="col"> Cantidad</th>
                  <th scope="col"> Precio de la unidad</th>
                  <th scope="col" style="display:none;"> Identificador del producto</th>
              </tr>
              <% transactionData.forEach(function(transaction) { %>
                  <tr>
                      <th scope="row" style="display:none;"><%= transaction.transactionId%></th>
                      <td colspan="1" name="datetransaction"><%= new Date(transaction.datetransaction).toLocaleDateString('es-ES')%></td>
                      <td colspan="1" name="typetransaction"><%= transaction.typetransaction%></td>
                      <td colspan="1" name="quantity"><%= transaction.quantity%></td>
                      <td colspan="1" name="price"><%= transaction.price%></td>
                      <td colspan="1" name="productId" style="display:none;"><%= transaction.productId%></td>
                      <td colspan="1" name="cancel">
                        <% let transactionDate = new Date(transaction.datetransaction), 
                          actualDate = new Date(),
                          timeDifference = Math.abs(actualDate.getTime() - transactionDate.getTime());%>
                        <% let differenceDays = Math.ceil(timeDifference / (1000 * 3600 * 24));
                        if(differenceDays < 7) {%>
                        
                        <a class="btn btn-circle btn-danger transactions-list-link cancel-transaction" transactionId="<%= transaction.transactionId %>" title="Cancelar transacción">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                        </a>
                        <% } %>
                      </td>
                  </tr>
              <% }); %>
          </table>
        </div>
      </div>
    </div>  
    <!-- ZONA DE SCRIPTS -->

    <!-- ZONA DE PIE DE PÁGINA -->
    <%- include("./partials/mainViews/footer.ejs") %>
    <script src="/js/formTools.js"></script>
    <script src="/js/httpRequests.js"></script>
    <script src="/js/deleteTransaction.js"></script>
  </body>
</html>
