<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("./partials/mainViews/head.ejs") %>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Vender</title>
  </head>
  <body>
    <!-- BARRA DE NAVEGACIÓN -->
    <%- include("./partials/mainViews/navbar.ejs", {page_name:"Vender"}) %>
    <div class="container" style="text-align: center; margin-top: 10px;">
      <h1>Seleccione el producto que quiere vender:</h1>
    </div>
    <div class="container" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
      <div class="card col-sm">
        <form id="form-product">
          <div class="row form-inline" style="margin-top:30px;">
            <label for="selectProduct" class="card-title font-weight-bold" style="margin-left: 20px; margin-right:5px;"> Nombre del videojuego: </label>
            <select id="selectProduct" style="margin-right:20px;">
              <option value="-">-</option>
              <% productData.forEach(function(product) {%>
                  <option value="<%= product.productId %>"><%= product.name %></option>
              <% }); %>
              <option value="0">Otro</option>
            </select>
          </div>
          <div id="nameDiv" class="container none" style="margin-top:30px;">
            <div class="row">
              <input class="none" id="productId" name="productId" type="text" value="" readonly required>
              <label for="name" class="card-title font-weight-bold" style="margin-left:5px; margin-right:5px;"> Nombre del videojuego no listado:</label>
              <input id="name" name="name" type="text" value="">
            </div>
          </div>
          <div id="descriptionDiv" class="container none" style="margin-top:30px;">
            <div class="row">
              <label for="description" class="card-title font-weight-bold" style="margin-left: 20px; margin-left:5px; margin-right:5px;"> Descripción del videojuego: </label>
              <textarea id="description" name="description" style="margin-right:20px;" rows="4" cols="70"  value=""></textarea>
            </div>
          </div>
          <div id="imageDiv" class="container none" style="margin-top:30px;">
            <div class="row">
              <label for="image" class="card-title font-weight-bold" style="margin-left: 20px; margin-left:5px; margin-right:5px;"> URL de la imagen de la carátula del videojuego: </label>
              <input id="image" name="image" type="text">
            </div>
          </div>
          <div id="quantityDiv" class="row" style="margin-top:30px;">
            <label for="quantity" class="card-title font-weight-bold" style="margin-left: 20px; margin-right:5px;"> Número de unidades a vender(*): </label>
            <input id="quantity" name="quantity" type="number" value="0" required>
            <input class="none" id="actualQuantity" name="actualQuantity" type="number" readonly>
          </div>
          <div id="priceDiv" class="row" style="margin-top:30px;">
            <label for="price" class="card-title font-weight-bold" style="margin-left: 20px; margin-right:5px;"> Precio por unidad: </label>
            <input id="price" name="price" type="number" value="0" readonly required>
            <label for="price">Є</p>
          </div>

          <div style="margin-top: 10px; margin-bottom: 30px;">
            <button type="submit" id="sendForm" class="btn btn-dark form-button">
                Vender
              </button>
          </div>
        </form>
      </div>
    </div>
    <!-- ZONA DE SCRIPTS -->
    <%- include("./partials/mainViews/scripts.ejs") %>
    <!-- ZONA DE PIE DE PÁGINA -->
    <%- include("./partials/mainViews/footer.ejs") %>
    <script src="/js/formTools.js"></script>
    <script src="/js/httpRequests.js"></script>
    <script src="/js/vender.js"></script>
  </body>
</html>
