<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("./partials/mainViews/head.ejs") %>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Vender</title>
  </head>
  <body>
    <!-- BARRA DE NAVEGACIÓN -->
    <%- include("./partials/mainViews/navbar.ejs", {page_name:"Vender"}) %>
    <div class="container" style="text-align: center; margin-top: 10px; margin-bottom:20px;">
      <h1>Seleccione el producto que quiere vender:</h1>
    </div>
    <div class="container" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
      <div class="card col-sm">
        <form id="form-product">
          <div class="none row form-inline" style="margin-top:30px;">
            <input id="productId" name="productId" type="text" value="<%= productData.productId %>" readonly required>
          </div>
          <div class="row form-inline" style="margin-top:30px;">
            <label for="name" class="card-title font-weight-bold" style="margin-left: 20px; margin-right:5px;"> Nombre del videojuego:(*): </label>
            <input id="name" name="name" type="text" value="<%= productData.name %>" readonly required>
          </div>
          <div id="descriptionDiv" class="container none" style="margin-top:30px;">
            <div class="row">
              <label for="description" class="card-title font-weight-bold" style="margin-left: 20px; margin-left:5px; margin-right:5px;"> Descripción del videojuego: </label>
              <textarea id="description" name="description" style="margin-right:20px;" rows="4" cols="70"  value=""><%= productData.description%></textarea>
            </div>
          </div>
          <div id="imageDiv" class="container none" style="margin-top:30px;">
            <div class="row">
              <label for="image" class="card-title font-weight-bold" style="margin-left: 20px; margin-left:5px; margin-right:5px;"> URL de la imagen de la carátula del videojuego: </label>
              <input id="image" name="image" type="text" value="<%= productData.image%>">
            </div>
          </div>
          <div id="quantityDiv" class="row" style="margin-top:30px;">
            <label for="quantity" class="card-title font-weight-bold" style="margin-left: 20px; margin-right:5px;"> Número de unidades a vender(*): </label>
            <input id="quantity" name="quantity" type="number" min="1" value="0" required>
            <input class="none" id="actualQuantity" name="actualQuantity" type="number" value="<%= productData.quantity%>" readonly>
          </div>
          <div id="priceDiv" class="row" style="margin-top:30px;">
            <label for="price" class="card-title font-weight-bold" style="margin-left: 20px; margin-right:5px;"> Precio por unidad: </label>
            <input id="price" name="price" type="number" value="<%= productData.price%>" readonly required>
            <label for="price">Є</p>
          </div>
          <div id="platformDiv" class="row none" style="margin-top:30px;">
            <label for="platform" class="card-title font-weight-bold" style="margin-left: 20px; margin-right:5px;"> Plataforma del videojuego: </label>
            <input id="platform" name="platform" type="text" value="<%= productData.platform %>">
          </div>
          <div id="companyDiv" class="row none" style="margin-top:30px;">
            <label for="company" class="card-title font-weight-bold" style="margin-left: 20px; margin-right:5px;"> Nombre de la compañía desarrolladora: </label>
            <input id="company" name="company" type="text" value="<%= productData.company %>">
          </div>

          <div style="margin-top: 10px; margin-bottom: 30px;">
            <button type="submit" id="sendForm" class="btn btn-dark form-button">
                Vender
              </button>
          </div>
        </form>
      </div>
    </div>
    <!-- ZONA DE SCRIPTS -->
    <%- include("./partials/mainViews/scripts.ejs") %>
    <!-- ZONA DE PIE DE PÁGINA -->
    <%- include("./partials/mainViews/footer.ejs") %>
    <script src="/js/formTools.js"></script>
    <script src="/js/httpRequests.js"></script>
    <script src="/js/venderUnique.js"></script>
  </body>
</html>
